<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-16-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-24-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-32-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-48-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-57-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-64-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-72-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-114-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-120-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-144-80365.png' %>
    <%= favicon_link_tag 'effect-letters-alphabet-red-152-80365.png' %>
    <%= stylesheet_link_tag    'application', media:
                                              'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
